* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
nav {
  background-color: rgba(180, 211, 181, 0.497);
  position: fixed;
  z-index: 1;
}
.navbar {
  position: fixed;
  width: 100%;
}
.schema img {
  height: 55px;
  width: 60px;
  border-radius: 20%;
  object-fit: cover;
}
.logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: aqu;
  gap: 1.5vw;
  margin-left: 4vw;
}
.logo h1 {
  font-size: 25px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: bold;
  color: rgba(29, 62, 31, 0.794);
}
.collapse {
  background-color: yello;
  max-width: 55vw;
  justify-content: space-evenly;
}
.navbar-nav {
  gap: 2vw;
}

/*section img{
    height: 70vh;
    width: 50vw;
    object-fit: cover;
}*/
section {
  padding-top: 11vh;
}
@media screen and (max-width: 850px) {
  section {
    padding-top: 6vh;
  }
}
@media screen and (max-width: 450px) {
  section {
    padding-top: 7vh;
  }
}

#Accueil {
  height: 189vh;
  /* background-color: rgba(255, 255, 0, 0.542); */
}
.accueil01 {
  display: flex;
  flex-direction: row;
}
.accueil1 {
  background-color: aqua;
  width: 50vw;
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.accueil1 img {
  /* margin-left: 10vw; */
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.accueil1-1 {
  border-radius: 7%;
  overflow: hidden;
  margin-left: 2%;
  height: 35vh;
  width: 30vw;
  /* background-color: beige; */
}
.accueil1-2 {
  border-radius: 7%;
  overflow: hidden;
  margin-left: 18%;
  height: 35vh;
  width: 30vw;
  /* background-color: rgb(188, 188, 117); */
}
.contain-accueil1,
.contain-accueil2 {
  width: 120vw;
  background-color: rgb(82, 29, 131);
  display: flex;
  flex-direction: row;
  z-index: -1;
  animation: accueil01 12s infinite alternate-reverse;
}
@keyframes accueil01 {
  0% {
    transform: translateX(-90vw);
  }
  25% {
    transform: translateX(-60vw);
  }
  50% {
    transform: translateX(-30vw);
  }
  75% {
    transform: translateX(-0vw);
  }
  100% {
    transform: translateX(vw);
  }
}
.accueil1 img {
  width: 30vw;
  height: 40vh;
  object-fit: cover;
}
.accueil2 {
  /* background-color: rgb(53, 146, 146); */
  width: 50vw;
  height: 90vh;
  display: flex;
  flex-direction: column;
  /* justify-content: space-evenly; */
}
.accueil2 h4 {
  margin-left: 15vw;
  margin-top: 15vh;
}
.accueil2 h1 {
  margin-left: 10vw;
}
.accueil2 p {
  margin-top: 5vh;
  /* background-color: aquamarine; */
  width: 65vh;
  margin-left: 12vh;
}
.accueil2 button {
  width: 15vw;
  margin: 10vh 15vw;
}
#Station {
  height: 189vh;
  background-color: rgba(4, 255, 0, 0.45);
}

#Pieces {
  height: 189vh;
  background-color: rgba(0, 234, 255, 0.566);
}
#Repas {
  height: 189vh;
  background-color: rgba(0, 68, 255, 0.566);
}
#SPA {
  height: 189vh;
  background-color: rgba(166, 0, 255, 0.566);
}
#Activites {
  height: 189vh;
  background-color: rgba(255, 0, 247, 0.566);
}
#Contact {
  height: 189vh;
  background-color: rgba(255, 0, 0, 0.566);
}
